.break-container {
  height: 100%;
  padding-top: 5rem;
  h1 {
    font-size: 4rem;
    margin: 0 !important;
  }
  .break-cup {
    width: 12rem;
    height: 18rem;
    .coffee-wave1 {
      animation: wave 2s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
    }
    .coffee-wave2 {
      animation: wave 2s;
      animation-delay: 0.4s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
    }
  }
  button {
    font-family: "Unica One", cursive;
    font-size: 3rem;
  }
}

@keyframes wave {
  0% {
    transform: translate(0rem, 0rem);
    opacity: 1;
  }
  40% {
    transform: translate(0rem, 0.5rem);
    opacity: 0.75;
  }
  60% {
    transform: translate(0rem, 1rem);
    opacity: 0.5;
  }
  60% {
    transform: translate(0rem, 1.5rem);
    opacity: 0.25;
  }
  100% {
    transform: translate(0rem, 2rem);
    opacity: 0;
  }
}

.skip-btn {
  color: rgb(100, 92, 82);
}
