.form-container {
  height: 100%;
  font-size: 1.6rem;
  form {
    min-width: 30rem;
    width: 70%;
    padding: 2rem;
    padding-top: 0;
    border-radius: 1rem;
    background-color: rgba($color: #cecece, $alpha: 0.2);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    mat-form-field {
      width: 100%;
    }
    button {
      font-size: 2rem;
      font-family: "Unica One", cursive;
    }
  }
}
