.task-container {
  height: 100%;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
  background: linear-gradient(
    180deg,
    rgba(223, 223, 223, 1) 0%,
    rgba(205, 205, 205, 1) 100%
  );
}
